.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 600px;

  &:not(.published) {
    display: none;
  }

  .cont-info {
    padding: 10px;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0 0 10px;
      font-size: 24px;
      color: #333;
    }

    p {
      margin-bottom: 20px;
      font-size: 16px;
      color: #555;
      line-height: 1.5;
      font-weight: 600;
    }

    button {
      background-color: #daa521;
      color: #fff;
      border: none;
      padding: 10px 15px;
      font-size: 14px;
      cursor: pointer;
      text-transform: uppercase;
      align-self: flex-start;
      border-radius: 10%;

      &:hover {
        background-color: #e9ca7b;
      }
    }

    h3 {
      color: #333;
    }

    ul {
      margin: 10px 0 20px;

      li {
        line-height: 1.5;
        font-weight: 600;
        color: #555;
        display: flex;
        line-height: 28px;
        padding: 10px 0 0 10px;

        .tag-icon {
          font-size: 28px;
        }

        .tag-name {
          font-size: 20px;
          padding: 0 10px;
        }

        .html {
          color: green;
        }

        .css {
          color: pink;
        }

        .js {
          color: orange;
        }

        .php {
          color: violet;
        }
      }
    }
  }
}
